:root{
    --main-color: #23B2C3;
    --secondary-color:  rgb(34,25,29);
}
@font-face {
    font-family: cairo;
    src: url('/public/assets/fonts/cairo_regular_400.ttf');
}

body {
    font-family: cairo !important;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

p{
    line-height: 1.8;
    font-size: 1.06rem;
}
